<h2>Help</h2>
<div id="help">
<h4>Description</h4>
<div class="row">
<p class="span7">The purpose of this application is to help stock holders create quick calculations to check stocks value after number of years, using simply accessible data.</p>
</div>
<h4>Glossary</h4>

<dl class="dl-horizontal dl-help">
	<dt>stock</dt>
	<dd>the name of the stock</dd>
	<dt>price</dt>
	<dd>price of one stock (decimal)</dd>
	<dt>quantity</dt>
	<dd>number of stocks</dd>
	<dt>percent</dt>
	<dd>growth in year as %</dd>
	<dt>years</dt>
	<dd>number of years holding stock</dd>
	<dt>value</dt>
	<dd>based on data above (stocks value after * years)</dd>
</dl>
</div>